@media (max-width:1350px) {
    .img_content {
        margin-top: -635px;
        margin-right: 80px;
    }
    .first_content h1 {
        font-size: 4em;
    }
    .first_content h4 {
        font-size: 20px;
    }
    .service {
        max-width: 302px;
    }
    .service h3 {
        font-size: 40px;
    }
    .service p {
        font-size: 17px;
    }
    .section_head h3 {
        font-size: 60px;
    }
    .services {
        margin-top: 54px;
    }
    .menu_items {
        margin-top: -77%;
    }
    .menu_head {
        margin-bottom: 30px;
    }
    .menu_head h6 {
        margin-top: 15px;
        font-size: 50px;
    }
    .menu_options_right {
        gap: 55px;
    }
    .menu{
        height: 675px !important;
    }
}
@media (max-width:1200px) {
    .img_content {
        margin-top: -550px;
        margin-right: 80px;
    }
    .first_content h1 {
        font-size: 3.5em;
    }
    .first_content h4 {
        font-size: 16px;
    }
    .main_header {
        display: flex;
        justify-content: space-evenly;
    }
    .service {
        max-width: 255px;
    }
    .service h3 {
        font-size: 35px;
    }
    .service p {
        font-size: 14px;
    }
    .section_head h3 {
        font-size: 55px;
    }
    .services {
        margin-top: 38px;
    }
    .menu_items {
        margin-top: -81%;
    }
    .menu_head {
        margin-bottom: 25px;
    }
    .menu_head span {
        font-size: 20px;
    }
    .menu_head h6 {
        margin-top: 15px;
        font-size: 40px;
    }
    .menu_options_right {
        gap: 45px;
    }
    .option a {
        font-size: 22px;
    }
    .menu_btn a {
        font-size: 14px;
        padding: 10px 25px;
    }
    .menu {
        height: 580px !important;
    }
}
@media (max-width:1062px) {
    .img_content {
        margin-top: -480px;
        margin-right: 80px;
    }
    .first_content h1 {
        font-size: 3.5em;
    }
    .first_content h4 {
        font-size: 16px;
    }
    .first_content a {
        margin-top: 50px;
        padding: 10px 30px;
    }
    .our_services {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .service {
        margin-bottom: 35px;
    }
    .services {
        margin-top: 30px;
    }
    .menu_items {
        margin-top: -84%;
    }
    .menu_head {
        margin-bottom: 16px;
    }
    .menu_head span {
        font-size: 18px;
    }
    .menu_head h6 {
        margin-top: 8px;
        font-size: 35px;
    }
    .option a {
        font-size: 20px;
    }
    .menu_options_right p {
        font-size: 12px;
    }
    .menu {
        height: 535px !important;
    }    
}
@media (max-width:992px) {
    /* .contant {
        margin-top: -195px;
    } */
    .contant .img{
        margin-top: 149px;
    }
    .menu_responsive {
        display: block;
        position: absolute;
        right: -200px;
    }
    .img_content {
        margin-top: -43%;
        margin-right: 0;
        padding: 0 6rem;
    }
    .first_content{
        max-width: 100%;
    }
    .first_content h1 {
        font-size: 3.5em;
    }
    .first_content h4 {
        font-size: 16px;
    }
    .img_content .glass_img{
        display: none;
    }
    /* .main_header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: flex-end;
        position: relative;
    } */
    .logo{
        position: absolute;
        right: 0;
    }
    .main_header ul{
        display: block;
        line-height: 60px;
    }
    .header_left,.header_right {
        display: none;
    }
    .main_header_color{
        background-color: transparent !important;
    }
    .hamberger_menu {
       display: block;
       position: absolute;
       top: 40px;
       left: 0;
       font-size: 25px;
    }
    .section_head span {
        font-size: 20px;
    }
    .section_head h3 {
        font-size: 50px;
    }
    .services {
        margin-top: 24px;
        padding: 200px 100px 40px;
    }
    .menu_container {
        padding: 0px 30px;
    }
    .menu_img img {
        display: none;
    }
    .menu_items {
        margin-top: -5%;
        background-color: #f5ecdf;
        box-shadow: 0 6px 19px 2px #807f7f;
        position: relative;
        top: -80px;
        height: 560px;
        padding: 30px 0;
    }
    .menu_options_left{
        display: none;
    }
    .menu_options_right {
        width: 70%;
    }
    .menu_head span {
        font-size: 16px;
    }
    .menu_head h6 {
        margin-top: 10px;
        font-size: 30px;
    }
    .menu_head {
        margin-bottom: 25px;
    }
}
@media (max-width:768px) {
    .img_content {
        margin-top: -47%;
    }
    .menu_responsive{
        font-size: 14px;
    }
    .img_content {
        margin-right: 35px;
    }
    .first_content h1 {
        font-size: 3rem;
    }
    .first_content h4 {
        font-size: 15px;
    }
    .first_content a {
        margin-top: 15px;
    }
    .section_head h3 {
        font-size: 45px;
    }
    .section_head span {
        margin-bottom: 35px;
    }
    .services {
        margin-top: -8px;
        padding: 120px 48px 40px;
    }
    .service h3 {
        font-size: 30px;
    }
    .store_head .store_btn a {
        padding: 6px 15px;
    }
}
@media (max-width:576px) {
    .img_content {
        margin-top: -47%;
        margin-right: 0;
        padding: 0 3rem;
    }
    .logo img{
        max-width: 100px;
        max-height: 100px;
    }
    .hamberger_menu {
        top: 25px;
    }
    .first_content{
        text-align: center;
    }
    .first_content h1 {
        font-size: 2.3rem;
        margin-bottom: 5px;
    }
    .first_content h4 {
        font-size: 14px;
        line-height: 30px;
    }
    .first_content a {
        font-size: 14px;
        padding: 6px 16px;
        margin-top: 5px;
    }
    .section_head span {
        font-size: 18px;
    }
    .section_head h3 {
        font-size: 35px;
    }
    .section_head {
        margin-bottom: 55px;
    }
    .services {
        padding: 120px 20px 40px;
    }
    .store_head .title span {
        font-size: 14px;
    }
    .store_head .title h4 {
        font-size: 16px;
    }
    .store_head .store_btn a {
        font-size: 14px;
    }
    .store_sliders .describe a {
        padding: 10px 10px;
    }
    .menu_options_right {
        width: 85%;
    }
}
@media (max-width:450px) {
    .topbar {
        display: flex;
        line-height: 2.5rem;
        flex-direction: column;
    }
    .topbar_right{
        display: none;
    }
    .img_content {
        margin-top: -48%;
        margin-right: 0;
        padding: 0 1rem;
    }
    .first_content h1 {
        font-size: 1.5rem;
    }
    .first_content h4 {
        font-size: 12px;
        line-height: 25px;
    }
    .first_content a {
        font-size: 12px;
    }
    .logo img {
        max-width: 80px;
        max-height: 80px;
    }
    .hamberger_menu {
        top: 20px;
        width: 35px;
    }
    .topbar a i {
        font-size: 1rem;
    }
    .services {
        padding: 130px 20px 40px;
    }
    .section_head {
        margin-bottom: 30px;
    }
    .section_head span {
        margin-bottom: 20px;
    }
    .section_head span {
        font-size: 16px;
    }
    .section_head h3 {
        font-size: 29px;
    }
    .service img {
        max-width: 100px;
    }
    .service h3 {
        font-size: 25px;
    }
    .service p {
        font-size: 12px;
    }
    .store_head {
        flex-direction: column;
        gap: 30px;
    }
    .store_head .title span {
        font-size: 13px;
    }
    .store_head .title h4 {
        font-size: 15px;
    }
    .store_sliders .describe a {
        font-size: 14px;
    }
    .coffee_img {
        height: 400px;
    }
    .menu_options_right {
        gap: 25px;
    }
    .menu_items {
        height: 510px;
    }
    .menu {
        height: 490px !important;
    }
    .menu_head h6 {
        font-size: 27px;
        margin: 10px 15px 0;
    }
    .option .price {
        font-size: 16px;
    }
    .option a {
        font-size: 18px;
    }
    .menu_btn a {
        font-size: 12px;
        padding: 10px 20px;
    }
    .options {
        margin-bottom: 50px;
    }
}